<h1>Maandoverzichten</h1>
<label>Maand selecteren: </label>&nbsp;
<select>
  <option value="05-2018">mei 2018</option>
</select>&nbsp;
<button>Tonen</button>

<hr />

<h2>Mei 2018</h2>
<hr />

<div style="float: left; width: 33%">
  <h3>Vaste lasten</h3>
  <table>
    <tr>
      <th>Hypotheek:</th>
      <td>&euro; 700,-</td>
    </tr>
    <tr>
      <th>Bijdrage VvE Grote Poot:</th>
      <td>&euro; 120,-</td>
    </tr>
  </table>
</div>

<div style="float: left; width: 33%">
  <h3>Boodschappen</h3>
  <table>
    <tr>
      <th>Jumbo / woensdag 11 mei</th>
      <td>&euro; 55,-</td>
    </tr>
  </table>

  <h3>Brandstof</h3>
  <table>
    <tr>
      <th>Esso Deventer / woensdag 15 mei</th>
      <td>&euro; 25,-</td>
    </tr>
  </table>
</div>

<div style="float: left; width: 33%">
  <h3>Overige uitgaven</h3>
  <table>
    <tr>
      <th>El Popo</th>
      <td>&euro; 67,-</td>
    </tr>
  </table>
</div>

<div style="clear:both; padding-top: 35px;">
  <h3>Totaal: &euro; 2300,-</h3>
</div>
