<h1>Meterstanden invoeren</h1>

<hr />

<div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
  Het invoeren is mislukt: {{errorMessage}} ({{errorCode}})
</div>

<form [hidden]="submitted" (ngSubmit)="onSubmit()" #invoerenForm="ngForm">
  <div class="form-group">
    <label for="file">Opnamedatum:</label>
    <input class="form-control" required type="date" [(ngModel)]="newMeterstand.opnameDatum" name="opnameDatum" />
  </div>

  <div class="form-group">
    <label for="file">Stand water (m3):</label>
    <input class="form-control" required type="number" [(ngModel)]="newMeterstand.water" name="water" />
  </div>

  <div class="form-group">
    <label for="file">Stand gas (m3):</label>
    <input class="form-control" required type="number" [(ngModel)]="newMeterstand.gas" name="gas" />
  </div>

  <div class="form-group">
    <label for="file">Stand elektra E1 (kWh):</label>
    <input class="form-control" required type="number" [(ngModel)]="newMeterstand.elektraE1" name="elektraE1" />
  </div>

  <div class="form-group">
    <label for="file">Stand elektra E2 (kWh):</label>
    <input class="form-control" type="number" [(ngModel)]="newMeterstand.elektraE2" name="elektraE2" />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!invoerenForm.form.valid">Invoeren</button>
</form>

<div *ngIf="result == true">
  <p>De nieuwe meterstand is opgeslagen!</p>
</div>
