table {
  width: 100%;
}

th {
  text-align: left;
}

th, td {
  padding: 5px;
}

thead {
  background-color: #CCC;
}

tr:nth-child(even) {
  background: #EFEFEF;
}

.delete {
  text-align: right;
}

.delete span {
  color: blue;
  cursor: pointer;
}

.delete span:hover {
  text-decoration: underline;
}
