<h1>Meterstanden</h1>

<hr />

<table>
  <thead>
    <tr>
      <th width="200">Opnamedatum</th>
      <th width="200">Elektra E1 (kWh)</th>
      <th>Elektra E2 (kWh)</th>
      <th width="200">Gas (m3)</th>
      <th>Water (m3)</th>
      <th width="70">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meterstand of meterstanden">
      <td>{{ meterstand.opnameDatum | amDateFormat:'D MMMM YYYY' }}</td>
      <td>{{ meterstand.elektraE1 | number:'.0':'nl' }}</td>
      <td>{{ meterstand.elektraE2 | number:'.0':'nl' }}</td>
      <td>{{ meterstand.gas | number:'.0':'nl' }}</td>
      <td>{{ meterstand.water | number:'.0':'nl' }}</td>
      <td class="icons">
        <span [routerLink]="['/meterstanden/aanpassen/', meterstand.opnameDatum]"><i class="fas fa-edit"></i></span>&nbsp;
        <span (click)="deleteMeterstand(meterstand)"><i class="fas fa-trash-alt"></i></span>
      </td>
    </tr>
  </tbody>
</table>

<hr />
