table {
  width: 100%;
}

th {
  text-align: left;
}

th, td {
  padding: 5px;
}

.totaal th, .totaal td {
  padding-top: 15px;
}

img.pin {
  margin-right: 5px;
}

.other-party {
  font-size: 90%;
  font-style: italic;
}

thead {
  background-color: #CCC;
}

tr:nth-child(even) {
  background: #EFEFEF;
}
