<h1>Afschriften importeren</h1>

<hr />

<form>
  <div class="form-group">
      <label for="file">Kies bestand:</label>
      <input class="form-control" type="file" id="file" (change)="handleFileInput($event.target.files)" multiple="multiple">
  </div>

  <div class="form-group">
      <label>Gekozen bestanden:</label>
      <div class="form-control">
        <ul style="margin-bottom: 0;">
          <li *ngFor="let file of selectedFiles">{{ file.name }} ({{ file.size }} bytes)</li>
        </ul>
      </div>
  </div>

  <button class="btn btn-primary" (click)="startImport()">Importeren</button>
</form>
