<h1>Meterstand aanpassen: {{meterstand.opnameDatum | amDateFormat:'DD-MM-YYYY'}}</h1>

<hr />

<div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
  Het opslaan is mislukt: {{errorMessage}} ({{errorCode}})
</div>

<form [hidden]="submitted" (ngSubmit)="onSubmit()" #opslaanForm="ngForm">
  <div class="form-group">
    <label for="file">Opnamedatum:</label>
    <input class="form-control" required type="date" [(ngModel)]="meterstand.opnameDatum" name="opnameDatum" />
  </div>

  <div class="form-group">
    <label for="file">Stand water (m3):</label>
    <input class="form-control" required type="number" [(ngModel)]="meterstand.water" name="water" />
  </div>

  <div class="form-group">
    <label for="file">Stand gas (m3):</label>
    <input class="form-control" required type="number" [(ngModel)]="meterstand.gas" name="gas" />
  </div>

  <div class="form-group">
    <label for="file">Stand elektra E1 (kWh):</label>
    <input class="form-control" required type="number" [(ngModel)]="meterstand.elektraE1" name="elektraE1" />
  </div>

  <div class="form-group">
    <label for="file">Stand elektra E2 (kWh):</label>
    <input class="form-control" type="number" [(ngModel)]="meterstand.elektraE2" name="elektraE2" />
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!opslaanForm.form.valid">Opslaan</button>
</form>

<div *ngIf="result == true">
  <p>De aanpassingen zijn opgeslagen!</p>
</div>

<p style="margin-top: 20px;">
  <a [routerLink]="['/meterstanden']">Terug naar overzicht van meterstanden</a>
</p>
