<h1>Profielen</h1>

<div *ngIf="!hasError">

  <label>Filteren: </label>&nbsp;<input type="text" [(ngModel)]="searchFilter" />
  <button (click)="reset()">Reset</button>

  <br /><br />

  <p><button (click)="togglePhotos()">Profielfoto's {{ showPhotos ? 'verbergen' : 'tonen'}}</button></p>

  <table *ngIf="profiles.length > 0" cellpadding="15">
    <thead>
      <tr>
        <th>#</th>
        <th *ngIf="showPhotos == true"></th>
        <th>Naam</th>
        <th>Functie</th>
        <th>E-mail</th>
        <th>Tel. nummer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of profiles|ProfileFilter: searchFilter">
        <td>{{ profile.id }}</td>
        <td *ngIf="showPhotos == true"><img [src]="profile.photourl" width="50" /></td>
        <td><a [routerLink]="['/profile', profile.id]">{{ profile.firstname + ' ' + profile.surname }}</a></td>
        <td>{{ profile.jobtitle }}</td>
        <td><app-mail [email]="profile.email" (emailClicked)="emailClicked($event)"></app-mail></td>
        <td>{{ profile.phoneNumber | ConvertToSpaces: '-' }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="profiles == null || profiles.length == 0">Er zijn geen profielen aanwezig.</p>

  <br /><br />

  <p>Laatst geklikte e-mail: {{ lastClickedEmail }}</p>

 </div>

<div *ngIf="hasError" class="alert alert-danger">
  <p>Oh noes! Er ging wat mis bij het ophalen van de profielen:</p>
  <p>{{ errorMessage }}</p>
</div>
