<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{title}}</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Afschriften
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/afschriften']">Overzicht</a>
          <a class="dropdown-item" [routerLink]="['/afschriften/importeren']">Importeren</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/maandoverzichten']">Maandoverzichten</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/transacties']">Transacties</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/grafieken']">Grafieken</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categori&euml;n
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/afschriften']">Overzicht</a>
          <a class="dropdown-item" [routerLink]="['/categories/classify']">Automatisch classificeren</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>
