<h1>Afschriften</h1>

<label>Maand selecteren: </label>&nbsp;
<select (change)="changeMonth()" [(ngModel)]="currentMonthYear">
  <option value="{{month.month + '-' + month.year}}" *ngFor="let month of availableMonths">{{month.month | MonthName}} {{month.year}}</option>
</select>

<hr />

<div *ngIf="currentMonth != 0 && currentYear != 0" class="delete">
  <span (click)="deleteAfschriften()">Alle afschriften voor {{currentMonth | MonthName}} {{currentYear}} verwijderen <i class="fas fa-trash-alt"></i></span>
</div>
<table>
  <thead>
    <tr>
      <th width="200">ID</th>
      <th width="200">Startdatum</th>
      <th>Start bedrag</th>
      <th width="200">Einddatum</th>
      <th>Eind bedrag</th>
      <th># transacties</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let afschrift of afschriften">
      <td>{{ afschrift.id }}</td>
      <td>{{ afschrift.start_balance_date | amDateFormat:'dddd, D MMM' }}</td>
      <td>&euro;&nbsp;{{ afschrift.start_balance_amount | FormatAmount }}</td>
      <td>{{ afschrift.end_balance_date | amDateFormat:'dddd, D MMM' }}</td>
      <td>&euro;&nbsp;{{ afschrift.end_balance_amount | FormatAmount }}</td>
      <td>{{ afschrift.entry_count }}</td>
    </tr>
  </tbody>
</table>

<hr />
