table {
  width: 45%;
  float: left;
  margin-right: 50px;
  margin-top: 15px;
}

table th {
  text-align: right;
  width: 50px;
}

table tr {
  border-bottom: 1px solid #CCC;
}

#profile-photo {
 width: 45%;
 float: left;
}

.alert {
  margin-top: 25px;
}
