<h1>Profiel #{{ profile.id }}: {{ profile.firstname + ' ' + profile.surname }}</h1>

<table cellpadding="10">
  <tr>
    <th>Voornaam:</th>
    <td>{{ profile.firstname }}</td>
  </tr>
  <tr>
    <th>Achternaam:</th>
    <td>{{ profile.surname }}</td>
  </tr>
  <tr>
    <th>Geboortedatum:</th>
    <td>{{ profile.dateOfBirth }}</td>
  </tr>
  <tr>
    <th>Functie:</th>
    <td>{{ profile.jobtitle }}</td>
  </tr>
  <tr>
    <th>E-mail:</th>
    <td>{{ profile.email }}</td>
  </tr>
  <tr>
    <th>Telefoonnr.:</th>
    <td>{{ profile.phoneNumber }}</td>
  </tr>
</table>

<div id="profile-photo">
  <img [src]="profile.photourl" width="200" />
</div>
