<h1>Verbruik</h1>
<hr />
<div [chart]="chart"></div>
<hr />

<table>
  <thead>
    <tr>
      <th width="200">Maand</th>
      <th width="200">Elektra E1 (kWh)</th>
      <th>Elektra E2 (kWh)</th>
      <th width="200">Gas (m3)</th>
      <th>Water (m3)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let maandVerbruik of verbruik">
      <td>{{ maandVerbruik.maand | MonthName }} {{ maandVerbruik.jaar }}</td>
      <td>{{ maandVerbruik.elektraE1 | number:'.0-0':'nl' }}</td>
      <td>{{ maandVerbruik.elektraE2 | number:'.0-0':'nl' }}</td>
      <td>{{ maandVerbruik.gas | number:'.0-0':'nl' }}</td>
      <td>{{ maandVerbruik.water | number:'.0-0':'nl' }}</td>
    </tr>
  </tbody>
</table>

<hr />
